td {
    vertical-align: middle !important;
}

.note {
    height: 60px;
}

.icon {
    font-size: 2em;
}

.iconButton {
    font-size: 1.4em;
}

.icon-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.btn-group {
    padding: 0;
}

.bg-image {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.container {
    min-height: 95vh;
}